In [2]:
x = 1 
type(x)

int

In [3]:
x = 1.0 - 2.0j
type(x)

complex

In [4]:
print(x.real, x.imag)

1.0 -2.0

In [5]:
one = 1,2,3,4,5,6,7,8,9
ten = 10,20,30,40,50,60,70,80,90

In [6]:
print(one,ten)

(1, 2, 3, 4, 5, 6, 7, 8, 9) (10, 20, 30, 40, 50, 60, 70, 80, 90)

In [7]:
'kaustubh ' + 'kulkarni'

'kaustubh kulkarni'

In [8]:
'kaustubh'+ str(-97)

'kaustubh-97'

In [9]:
1==1

True

In [10]:
1==2

False

In [11]:
True is True

True

In [12]:
1==True and 1==False

False

In [13]:
1==True or 1==False

True

In [14]:
1==True is 1==False

False

In [15]:
'kaustubh ' is 'kulkarni'

False

In [16]:
'kaustubh' is 'kaustubh'

True

In [17]:
One = '1'

if One is 1:
    print('yes its a number')
elif One is '1':
    print(One)
else:
    print('one has nothing')

1

In [18]:
i = 40
if i < 30:
    print('less than 40')
elif i > 30:
    print('greater than 30')
else:
    print('30')

greater than 30

In [19]:
string = ['K','A','U','S','T','U','B','H']

In [20]:
string[0:7:1]

['K', 'A', 'U', 'S', 'T', 'U', 'B']

In [21]:
l=string

In [22]:
print(l)

['K', 'A', 'U', 'S', 'T', 'U', 'B', 'H']

In [23]:
l=[string,one]

In [24]:
l

[['K', 'A', 'U', 'S', 'T', 'U', 'B', 'H'], (1, 2, 3, 4, 5, 6, 7, 8, 9)]

In [25]:
k=[1,'kpk']
print(k)
k.append('b')
print(k)
k.append('c')
print(k)
k.insert(1, 56)
k

[1, 'kpk']
[1, 'kpk', 'b']
[1, 'kpk', 'b', 'c']

[1, 56, 'kpk', 'b', 'c']

In [26]:
for i in l[0][0:8]:
    print(i,'is letter in kaustubh')
    
for i in l[1][0:9:2]:
    print(i,'is odd')

K is letter in kaustubh
A is letter in kaustubh
U is letter in kaustubh
S is letter in kaustubh
T is letter in kaustubh
U is letter in kaustubh
B is letter in kaustubh
H is letter in kaustubh
1 is odd
3 is odd
5 is odd
7 is odd
9 is odd

In [27]:
one

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [28]:
sum=0
for i in one:
    sum = sum + i
    print(sum)
print('The sum is',sum)

1
3
6
10
15
21
28
36
45
The sum is 45

In [29]:
one
for i in one[0:9:2]:
    print(i,'is odd')
for i in one[1:9:2]:
    print(i,'is even')
else:
    print('no items left')

1 is odd
3 is odd
5 is odd
7 is odd
9 is odd
2 is even
4 is even
6 is even
8 is even
no items left

In [36]:
N = int(input('Enter n: '))
sum = 0
i = 1
while i <= N:
    sum = sum + i
    i = i + 1
    print(sum)
print("The sum is", sum)

Enter n: 15
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
The sum is 120

In [37]:
for val in "KAUSTUBH":
    if val == "I":
        break
    print(val)

print("The end")

K
A
U
S
T
U
B
H
The end

In [49]:
print(range(10))

range(0, 10)

In [50]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
print(list(range(2, 8)))

[2, 3, 4, 5, 6, 7]

In [52]:
print(list(range(2, 20, 5)))

[2, 7, 12, 17]

In [40]:
for val in "KAUSTUBH":
    if val == "B":
        continue
    print(val)

print("The end")

K
A
U
S
T
U
H
The end

In [48]:
name = 'kaustubh'
for val in range(len(name)):
                 print(name[val])

print("The end")

k
a
u
s
t
u
b
h
The end

In [53]:
name = input("What is your name?\n ")
type(name)

What is your name?
 Kaustubh

str

In [58]:
name = input("What is your name? ")
print (" It was nice talking you " + name + "!")
age = input("Enter your age? ")
print("Hey, you are already " + age + " years old, " + name + "!")
intern=input("whats your company name? ")
print("your compeny name is "+intern)

What is your name? kpk
 It was nice talking you kpk!
Enter your age? 23
Hey, you are already 23 years old, kpk!
whats your company name? AIrobosoft
your compeny name is AIrobosoft